<div class='container'>
  <div class='columns is-centered'>
    <div class='box column is-one-third'>
      <h1 class='title has-text-centered'>Password Generator </h1>
      <div class='field'>
        <label>Length</label>
        <input class="input" (input)="onChangeLength($event.target.value)" />
      </div>
      <!-- div로 설정함으로서 한 라인에서만 보이게 만들어 준다. 설정을 안하면 붙어서 나온다. -->
      <div class='field'>
        <div class='control'>
          <label class='checkbox'>
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters</label>
        </div>
        <div>
        </div>
        <div class='field'>
          <div class='control'>
            <label class='checkbox'>
              <input (change)="onChangeUseNum()" type="checkbox" />
              Use Numbers</label>
          </div>
          <div>
            <div class='field'>
              <div class='control'>
                <label class='checkbox'>
                  <input (change)="onChangeUseNum()" type="checkbox" />
                  Use Symbols</label>
              </div>
              <div>
              </div>
              <!-- Event Binding Syntax (any stardard event)='이벤트가 발생하면 코드로 인식' -->
              <!-- disable로 처움에 두고 나중에 able로 두기 -> property binding -->
              <button class="button is-link is-fullwidth"
                [disabled]='!(length &&(includeLetter || includeNum || includeSymbols))' (click)='onButtonClick()'>
                Generate!
              </button>
            </div>
            <!-- structural Directives -> adds or removes HTML element  -->
            <!-- empty string -> false로 취급 -->
            <div *ngIf='password'>
              <label>Your Password</label>
              <!-- Property Binding Syntax 
          [value]//name of the property we want to set on this element = 
          ''Name of the property in out class to put here. Evaluated as code!! -->
              <input class='input' [value]="password" />
            </div>
            <!-- interpolation Binding -->
            {{getName()}}
          </div>
        </div>
      </div>